*{
    padding: 0; 
    margin: 0; 
    font-family: 'Courier Prime', monospace;
}

body{
background: url("../img/coverPage/coverBack.jpg") no-repeat, black;
background-size: cover;
background-attachment: fixed;
background-size: 100% 100%;
}

.coverPage{
background: url("../img/coverPage/coverBoxBack.jpg")  no-repeat;
position: absolute;
margin:0px auto;
border: 1px solid white;
margin-top: 10px;
height: 270px;
width: 400px;
border-radius: 10%;
text-align: center;
}

.header{
background-color: black;  
width: 400px;
margin-top: 30px;
color: yellow;
text-align: center;
}

.logoArea{
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
margin-top: 1em;
}

.logoArea > div:nth-of-type(1){ margin-right:10px; }

.logoArea > div:nth-of-type(2){
border:1px solid white;
padding-top: 0.2em;
border-radius: 10%;
}

.logoArea > div:nth-of-type(3){ margin-left:10px; }

.coverPage > div:nth-of-type(3){
width: 400px;
height: 20px;
background-color: black;
padding-top: 0px;
margin-bottom: 1.6em;
margin-top: 1em;
}

.coverPage > div:nth-of-type(3) > div{ color: white; font-style: italic;}

label{
text-decoration: underline;
margin-top: 50px;
color: gold;
font-size: 15px;
}

select{
background-color:yellow;
font-weight: bold;
color:black;
font-size: 15px;
}

.button{margin-top:1.5em; visibility: hidden;}
.button img:hover{cursor: pointer ; padding-top: 2px;}

.gameArea {
margin:0px auto;
border: 1px solid white;
margin-top: 50px;
height: 500px;
width: 700px;
background: url("../img/gamePage/gameBack.jpg")  no-repeat;
visibility: hidden; 
}

*.circle {
float:left;
background-color: gray;
width:  126px;
height: 86px;
border-radius: 50%;
border: 2px solid black;
text-align: center;
margin: 5px;
}

*.circle> span{
line-height: 86px;
font-size: 50px;
font-weight: bold;
opacity: 0.0;
}

.gameOver{
position: fixed;
border:1px dashed yellow;
width:300px;
height: 150px;
margin:0 auto;
text-align: center;
background-color: rgba(0, 0, 0, 0.8);
padding-top: 10px;
margin-top:150px;
margin-left:200px;
visibility: hidden;
}

.gameOver > div:nth-of-type(2) {  color: yellow; }
.gameOver > div:nth-of-type(3) {  color: lightskyblue; }